<div class="conteiner">
    <div class="card flex justify-content-center">
        <p-toast />
    </div>
    <div class="embrulho">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <div class="caixa-texto">
                <input type="text" placeholder="Email" formControlName="email">
            </div>
            <div class="caixa-texto">
                <input type="password" placeholder="Senha" formControlName="senha">
            </div>
            <button type="submit" [disabled]="form.invalid">Login</button>
            <div class="link-resgistro">
                <p>Não tem uma conta? <a (click)="navigateByRegister()">Registre-se!</a></p>
            </div>
        </form>
    </div>
</div>