<div class="conteiner">
    <div class="embrulho">
        <form action="">
            <h1>Login</h1>
            <div class="caixa-texto">
                <input type="text" placeholder="Usuário" required>
            </div>
            <div class="caixa-texto">
                <input type="password" placeholder="Senha" required>
            </div>
            <button>Login</button>
            <div class="link-resgistro">
                <p>Não tem uma conta? <a (click)="navigateByRegister()">Registre-se!</a></p>
            </div>
        </form>
    </div>
</div>