<div class="conteiner">
    <div class="embrulho">
        <form action="">
            <h1>Registrar</h1>
            <div class="caixa-texto">
                <input type="text" placeholder="Usuário" required>
            </div>
            <div class="caixa-texto">
                <input type="Email" placeholder="Email" required>
            </div>
            <div class="caixa-texto">
                <input type="password" placeholder="Senha" required>
            </div>
            <button>Registrar</button>
                   </form>
    </div>
</div>
