<div class="conteiner">
    <div class="card flex justify-content-center">
        <p-toast />
    </div>
    <div class="embrulho">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h1>Registrar</h1>
            <div class="caixa-texto">
                <input type="text" placeholder="Nome" formControlName="nome">
            </div>
            <div class="caixa-texto">
                <input type="Email" placeholder="Email" formControlName="email">
            </div>
            <div class="caixa-texto">
                <input type="password" placeholder="Senha" formControlName="senha">
            </div>
            <button type="submit" [disabled]="form.invalid">Registrar</button>
            <div class="link-resgistro">
                <p>Já tem uma conta? <a (click)="navigateByLogin()">Faça login!</a></p>
            </div>
        </form>
    </div>
</div>