<section class="container">
    <div class="conteudo">
        <div class="topo">
            <input type="text" id="inputNovaTarefa" placeholder="Adicione uma nova tarefa">
            <button id="btnAddTarefa"><i class="fa fa-plus"></i></button>
        </div>
            <ul id="listaTarefas">
                <li> <!-- Após implementar o javascript crie tarefas e teste os botões, veja se as funções de adicionar, editar e apagar estão funcionando. Se sim, 
                    logo após apague essa lista (li) pois é apenas um item fictício -->
                    <span class="textoTarefa"> Tarefa 1</span>
                <div>
                    <button class="btnAcao"><i class="fa fa-pencil"></i></button>
                    <button class="btnAcao"><i class="fa fa-trash"></i></button>
                </div>
                </li>
            </ul>
    </div>
</section>