.container {
  background: url("../../../assets/fundo.jpg") no-repeat center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  background: #2b2a2a;
  padding: 55px;
  border-radius: 12px;
}

.topo {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  margin-bottom: 35px;
}

.title {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.topo input {
  width: 350px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #191818;
  outline: none;
  font-size: 1.2rem;
  background: #191818;
  color: #fff;
}

.topo button {
  width: 45px;
  border-radius: 12px;
  border: 1px solid #191818;
  background: #191818;
  color: #fff;
  outline: none;
}

.topo button:hover {
  background: #1f1e1e;
  cursor: pointer;
  transform: scale(1.1);
}

#listaTarefas {
  list-style-type: none;
}

#listaTarefas li {
  padding: 20px;
  background: #191818;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 1.125rem;
}

.btnAcao {
  border-radius: 20px;
  border: 1px solid #191818;
  width: 38px;
  height: 38px;
  margin-right: 8px;
  cursor: pointer;
  background: #2b2a2a;
  color: #fff;
  outline: none;
}

.btnAcao:hover {
  background: #3c3a3a;
  transform: scale(1.1);
}