<div class="bg"></div>
<section class="container">
  <div class="card flex justify-content-center">
    <p-toast />
  </div>
  <div class="conteudo relative">
    <div class="card flex justify-content-center gap-2">
      <p-button icon="pi pi-cog" severity="secondary" [rounded]="true" size="small" (onClick)="navigateProfile()" />
      <p-button icon="pi pi-sign-out" severity="secondary" [rounded]="true" size="small" (onClick)="logout()" />
    </div>
    <h1 class="title">Lista de Tarefas</h1>
    <form class="topo" (ngSubmit)="addTask(inputValue)">
      <input type="text" id="inputNovaTarefa" name="task" placeholder="Adicione uma nova tarefa" [(ngModel)]="inputValue" />
      <button id="btnAddTarefa"><i class="fa fa-plus"></i></button>
    </form>
    <ul id="listaTarefas">
      @for (task of tasks; track task) {
      <li>
        <span class="textoTarefa">{{ task.task_task }}</span>
        <div class="icons">
          <button class="btnAcao" (click)="editTask(task)"><i class="fa fa-pencil"></i></button>
          <button class="btnAcao" (click)="deleteTask(task)"><i class="fa fa-trash"></i></button>
        </div>
      </li>
      }
    </ul>
  </div>
</section>